// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  // background-image: url('../img/header.jpg');
  background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.25) ), url('../img/header.jpg');
  background-position: center center;
  @include background-cover;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-weight: 300;
  }

  
  .btn-circle {
    width: $btn-size;
    height: $btn-size;
    text-align: center;
    padding: $btn-size/2.67 0;
    font-size: $btn-size/3.5;
    line-height: $btn-size/14.6;
    border-radius: $btn-size/1.47;
  }
  
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
}
