@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

body {
    background: rgb(224, 223, 223);
} 

#home h1 {
    text-align: left;
    font-size: 3.5em;
}

#subtitle {
    text-align: right;
    font-size: 2em;
}